table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-elemento-detalhe {
    overflow: hidden;
    display: flex;
  }
  
  .example-elemento-diagrama {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-elemento-gasolina {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-elemento-localizacao {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .maps-div {
    max-width: 500vw;
    /* width: 60%; */
    width:1200px;
    float: right; 
   
}