<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8"> 
  <ng-container matColumnDef="{{coluna}}" *ngFor="let coluna of colunasExibidas">
    <th mat-header-cell *matHeaderCellDef> {{coluna}} </th>
    <td mat-cell *matCellDef="let elemento"> {{elemento[coluna]}} </td>
  </ng-container>

   <!-- Expande conteudo da coluna--> 
   <ng-container matColumnDef="detalheExpandido">
    <td mat-cell *matCellDef="let elemento" [attr.colspan]="colunasExibidas.length">
      <div class="example-elemento-detalhe" [@detalheExpandido]="elemento == elementoExpandido ? 'expandido' : 'nao_expandido'">
        <div class="example-elemento-diagrama">
          <div class="example-elemento-posicao"> {{elemento.posicao}} </div>
          <div class="example-elemento-gasolina"> $:{{elemento.gasolina}} </div>
          <div class="example-elemento-posto"> {{elemento.posto}} </div>
          <div class="example-elemento-etanol"> $:{{elemento.etanol}} </div>
          <div class="example-elemento-etanol"> {{elemento.bandeira}} </div>
        </div>
        <div class="example-elemento-localizacao">
          {{elemento.localizacao}}

          <div class="maps-div">
            <posto-api-js-maps></posto-api-js-maps>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

   <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
  <tr mat-row *matRowDef="let elemento; columns: colunasExibidas;" class="example-element-row"
    [class.example-expanded-row]="elementoExpandido === elemento" (click)="elementoExpandido = elementoExpandido === elemento ? null : elemento">
  </tr> 
    <tr mat-row *matRowDef="let linha; columns: ['detalheExpandido']" class="example-detail-row"></tr>
  </table>