<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
  <p class="">
    Busca Posto | Aplicação WEB para auxilio para encontrar postos de combustiveis
  </p>

  <p class="">Copyright 2019 DEVDRUMMER (<a href="http://www.devdrummer.com.br">http://www.devdrummer.com.br</a>)</p>

  <!-- <p class="lead">
    Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
  </p> -->


  <p>
    Este aplicativo é para auxiliar a busca por postos de
    combustiveis proximo a sua localizacao e em sua cidade como um todo.
    E Listando os valores dos produtos etanol e gasolina.
  </p>

</section>