<div class="wrapper">

    <posto-header></posto-header>



    <div class="content-wrapper">

        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- <posto-api-js-maps></posto-api-js-maps> -->
    <footer class="footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <strong>Busca Posto:</strong>
                <b>Version</b> 1.0.0

            </div>
            <!-- <strong>Busca Posto</strong> Angular Application v6 -->
        </div>
    </footer>
</div>